<div class="section">
    <div class="container ">
        <div class="row">
            <h1 class="col-sm-offset-3 tituloconfig hidden-xs hidden-sm "> Configurar Dados Do Usuário</h1>
            <br>
            <div class="col-md-4  ">

                <form class="form-horizontal" role="form">
                   <div class="form-group ">

                    <label class="col-sm-offset-12">Login</label>
                    <input type="text"  ng-model="user[0].usuariosLogados.login" ng-disabled="true" class="form-control col-sm-4 col-sm-offset-12" >
                </div>
                <div class="form-group ">

                    <label class="col-sm-offset-12">Email</label>
                    <input type="text" ng-model="user[0].usuariosLogados.email"  class="form-control col-sm-4 col-sm-offset-12" >
                </div>

                <div class="form-group ">

                    <label class="col-sm-offset-12">Senha</label>
                    <input type="password" ng-model="user[0].usuariosLogados.senha"class="form-control col-sm-6 col-sm-offset-12" >
                </div>
                <div class="form-group ">

                 <label class="col-sm-offset-12">Cargo</label>

                 <select class="form-control col-sm-3 col-sm-offset-12" ng-model="user[0].usuariosLogados.cargo" ng-options="cargo for cargo in cargos"> 
                    <option value="">Selecione um cargo</option>

                </select>
            </div>
            <br>

            <div class="form-group  ">

                <button class="btn btn-block btn-primary  col-sm-offset-12" ng-click="editarUsuario(user)"> Salvar</button>
                <a href="" class="btn btn-block btn-danger col-sm-offset-12" ng-click="cancelarConfig()">Cancelar</a>

            </div>
        </form>


    </div>
</div>
</div>
</div>