
<div ng-show="sucessoAluDel" class="alert alert-success center-block" role="alert">
	<strong>Aluno excluido com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroAluDel" class="alert alert-danger center-block" role="alert">
	<strong>Erro!</strong> Não foi possivel excluir o Aluno. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>


<div ng-show="sucessoAluEdit" class="alert alert-success center-block" role="alert">
	<strong> Aluno editado com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroAluEdit" class="alert alert-danger center-block" role="alert">
	<strong>Erro!</strong> Não foi possivel editar o Aluno. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>


<div ng-show="sucessoAluMudar" class="alert alert-success center-block" role="alert">
	<strong> Aluno removido da turma com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroAluMudar" class="alert alert-danger center-block" role="alert">
	<strong>Erro!</strong> Não foi possivel remover o Aluno da turma. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="naoCadastrado" class="alert alert-danger center-block" role="alert">
	<strong>Erro!</strong> Aluno não está cadastrado em nenhuma turma. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>