 
<menu></menu>
<div class="section" >
    <div class="container">



        <aluno-Modal></aluno-Modal>
        <alu-Turma-Modal ></alu-Turma-Modal>

        <pesquisar ></pesquisar>


        <div class=" col-sm-offset-11">
           <p> Alunos por página</p>

           <select   ng-model="pageSize"
           ng-options="p for p in perPagePresets">
       </select>

   </div>
   <br>
   <alerta-Aluno></alerta-Aluno>
   <div class="table-responsive">
    <div class="col-md-12 ">
        <table class="table table-bordered table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Matricula</th>
                    <th>Data de Nascimento</th>
                    <th>Telefone</th>
                    <th> CEP</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="aluno in alunos | filter:busca | itemsPerPage: pageSize"
                current-page="currentPage" pagination-id="aluPagination">
                <td>{{aluno.nome}}</td>
                <td>{{aluno.matricula}}</td>
                <td>{{aluno.dtNascimento | date:"dd/MM/yyyy"}}</td>
                <td>{{aluno.telefone}}</td>
                <td>{{aluno.aluEndereco.cep}}</td>
                <td>
                    <a href="#aluno" class="btn btn-info btn-xs edit" role="button" data-toggle="modal"
                    ng-click="edit(aluno)"><i class="glyphicon glyphicon-edit"></i> Editar</a>
                    <a href="#aluno" class="btn btn-danger btn-xs delete" ng-click="excluirAluno(aluno)"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                    <a href="#aluno" class="btn btn-success btn-xs " role="button" data-toggle="modal"  ng-click="frequencia(aluno)"><i class="glyphicon glyphicon-calendar" ></i> Frequência</a>
                    <a href="#aluno" class="btn btn-warning btn-xs "   ng-click="mudarTurma(aluno)"><i class="glyphicon glyphicon-trash" ></i> Remover da Turma</a>
                </td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls boundary-links="true"  template-url="views/dirPagination.tpl.html" pagination-id="aluPagination"></dir-pagination-controls>
</div>
</div>

</div>
</div>


<rodapedirective></rodapedirective>
