                    
<div class="section" >
	<div class="container">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-0 ">
				<a href="#aluTurma"  role="button"  class="btn btn-primary btn-sm bte " data-toggle="modal"><i class="glyphicon glyphicon-plus"></i>
					Inserir aluno em turma</a>

				</div>
			</div>
			<div id="aluTurma" class="modal  fade">
				<div class="modal-dialog modal-lg ">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
							ng-click="limpaForm();encaminhar()">&times</button>
							<h4 class="modal-title">Inserção de alunos na turma</h4>
						</div>
						<div class="modal-body">

							<lista-Aluno></lista-Aluno>

						</div>



						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true"  ng-click="limpaForm();encaminhar()">Cancelar</button>
							<button type="button" class="btn btn-primary" ng-click="editarTurma(turma);encaminhar()" data-dismiss="modal" aria-hidden="true" >Salvar</button>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

