
<div ng-show="sucessoProfDel" class="alert alert-success center-block" role="alert">
	<strong> Professor excluido com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroProfDel" class="alert alert-danger center-block" role="alert">
	<strong>Erro!</strong> Não foi possivel excluir o professor. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>




<div ng-show="sucessoProfEdit" class="alert alert-success center-block" role="alert">
	<strong> Professor editado com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroProfEdit" class="alert alert-danger center-block" role="alert">
	<strong>Erro!</strong> Não foi possivel editar o professor. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>


