

<menu></menu>
<div class="section" >
  <div class="container">
   <prof-Modal></prof-Modal>
   <prof-Turma-Modal ></prof-Turma-Modal>

   <pesquisar></pesquisar>





   <div class=" col-sm-offset-11">
     <p> Professores por página</p>

     <select   ng-model="pageSize"
     ng-options="p for p in perPagePresets">
   </select>
 </div>
 <br>
 <alerta-Professor></alerta-Professor>

 <div class="table-responsive">
   <div class="col-md-12  tabela fundo">
    <table class="table table-bordered table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>Telefone</th>
          <th> CEP</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr dir-paginate="professor in professores | filter:busca | itemsPerPage: pageSize"
        current-page="currentPage" pagination-id="profPagination">
        <td>{{professor.matricula}}</td>
        <td>{{professor.nome}}</td>
        <td>{{professor.DataNascimento | date:"dd/MM/yyyy"}}</td>
        <td>{{professor.telefone}}</td>
        <td>{{professor.enderecoProf.cep}}</td>
        <td>
          <a href="#professor" class="btn btn-info btn-xs edit" role="button" data-toggle="modal"
          ng-click="editProf(professor)"><i class="glyphicon glyphicon-edit"></i> Editar</a>
          <a href="#professor" class="btn btn-danger btn-xs delete" ng-click="excluirProfessor(professor)"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
          <a href="#professor" class="btn btn-primary btn-xs " role="button" data-toggle="modal" ng-click="turmasProf(professor)"><i class="glyphicon glyphicon-user"></i> Turmas</a>
        </td>
      </tr>
    </tbody>
  </table>
  <dir-pagination-controls boundary-links="true"  template-url="views/dirPagination.tpl.html" pagination-id="profPagination"></dir-pagination-controls>
</div>
</div>

</div>
</div>
<rodapedirective></rodapedirective>
