<div class="section" >
	<div class="container">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-0 "><br><br>
				<a href="#home"  role="button"  class="btn btn-primary btn-sm bte " ng-click="limpar()" data-toggle="modal"><i class="glyphicon glyphicon-list-alt"></i>
					Gerar Relatório</a>
				</div>
			</div>
			<div id="home" class="modal  fade">
				<div class="modal-dialog  ">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
							ng-click="limpar()">&times</button>
							<h4 class="modal-title">Relatórios</h4>
						</div>
						<form name="tpRec">
							<div class="modal-body">
								<div class="col-sm-6" >
									<select class="form-control" ng-model="relatorio" ng-options="tpRelatorio for tpRelatorio in tipoRelatorio" ng-change="contains();getAno()"  >
										<option value="" >Selecione o tipo de relatório</option>
									</select>
								</div>
								<br><br>
							</div>
							
							<div class="modal-body">
								<div class="col-sm-6" >
									<select class="form-control" ng-model="aul.dataSelecionada" ng-options='data.data | date:"dd/MM/yyyy" for data in datas '  ng-show="relatorio == 'Semanal'" >
										<option value="" >Selecione o tipo de relatório</option>
									</select>

									<select class="form-control" ng-model="relTrimestre.select" ng-options="relTrimestre for relTrimestre in tipoRelatorioTrimestre"  ng-show="relatorio == 'Trimestral'" >
										<option value="" >Selecione o tipo de relatório</option>
									</select>

									<select class="form-control" ng-model="relAnual.select"  ng-options="relAnual for relAnual in anoRelatorio"  ng-show="relatorio == 'Anual'" >
										<option value="" >Selecione o tipo de relatório</option>
									</select>
								</div>
							</div>
							

							<br><br>
						</form>

						<div class="modal-footer" >
							<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true"  ng-click="limpar">Cancelar</button>
							<button type="button" class="btn btn-primary" ng-click="geral();colocaFalse()" data-dismiss="modal" aria-hidden="true" ng-show="relatorio == 'Semanal'">Gerar</button>

							<button type="button" class="btn btn-primary" ng-click="relatorioTrimestral()" data-dismiss="modal" aria-hidden="true" ng-show="relatorio == 'Trimestral'">Gerar</button>

							<button type="button" class="btn btn-primary" ng-click="relatorioAnual()" data-dismiss="modal" aria-hidden="true" ng-show="relatorio == 'Anual'">Gerar</button>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
