<menu></menu>
<home-Modal></home-Modal>

<div class="col-md-12 ">
	<ul class="list-group text-inverse pull-right col-md-3 ">
		<li class="list-group-item list-group-item-info"><h4>Aniversariantes Da Semana <span class="badge">{{quantidade}}</span></h4></li>
		<li class="list-group-item" ng-init="i = $index" ng-repeat="niver in aniversario">{{niver.nome}} - {{niver.dtNascimento | date:"dd/MM/yyyy" }}</li>
	</ul>
	<div class="table-responsive tabelarelatorio">
		<div class="col-md-12 ">
			<table class="table table-bordered table-striped table-condensed table-hover " ng-show="mostra == true || mostraTrimestre == true || mostraAnual == true">
				<thead>
					<tr>
						<th ng-show="mostra == true">
							<select ng-model="turma.select" ng-options="turma.nome for turma in turmas" ng-change="relatorioIndividual()" >
								<option value="">Selecione uma turma</option>
							</select>
						</th>
						<th ng-show="mostraTrimestre == true">
							<select ng-model="turma.select" ng-options="turma.nome for turma in turmas" ng-change="relatorioTrimestralIndividual()" >
								<option value="">Selecione uma turma</option>
							</select>
						</th>
						
						<th ng-show="mostraAnual == true">
							<select ng-model="turma.select" ng-options="turma.nome for turma in turmas" ng-change="" >
								<option value="">Selecione uma turma</option>
							</select>
						</th>

						<th>Matrículados</th>
						<th>Quantidade de Presenças</th>
						<th>Presença de Biblias</th>
						<th>Presença de Revistas</th>
						<th ng-show="turma.select != null">Professor</th>
						<th ng-show="mostra == true"></th>
					</tr>
				</thead>
				<tbody >
					<tr dir-paginate="pre in presencas | filter:busca | itemsPerPage: pageSize"
					current-page="currentPage" pagination-id="aluPagination" ng-show="turma.select == null && mostra == true && relatorio=='Semanal'">
					<td></td>
					<td>{{pre.matriculadosGeral}}</td>
					<td>{{pre.presenca}}</td>
					<td>{{pre.bibliasPre}}</td>
					<td>{{pre.revistasPre}}</td>

					
					<td>
						<a href="#aluno" class="btn btn-info btn-xs edit" role="button" data-toggle="modal"
						ng-click="edit(aluno)"><i class="glyphicon glyphicon-edit"></i> Download</a>
						
					</td>
				</tr>
				<tr dir-paginate="rela in individual | filter:busca | itemsPerPage: pageSize"
				current-page="currentPage" pagination-id="aluPagination" ng-show="turma.select != null && mostra == true && relatorio=='Semanal'">
				<td></td>
				<td>{{rela.matriculadosIndividual}}</td>
				<td>{{rela.presencaindividual}}</td>
				<td>{{rela.bibliasPindividual}}</td>
				<td>{{rela.revistaPindividual}}</td>
				<td>{{rela.profindividual}}</td>
				<td>
					<a href="#aluno" class="btn btn-info btn-xs edit" role="button" data-toggle="modal"
					ng-click="edit(aluno)"><i class="glyphicon glyphicon-edit"></i> Download</a>

				</td>
			</tr>

			<tr dir-paginate="tri in trimestres | filter:busca | itemsPerPage: pageSize"
			current-page="currentPage" pagination-id="aluPagination" 
			ng-show="turma.select == null && mostraTrimestre == true && relatorio=='Trimestral'">
			<td></td>
			<td>{{tri.matriculadosTri}}</td>
			<td>{{tri.presencaTri}}</td>
			<td>{{tri.bibliasPresentesTri}}</td>
			<td>{{tri.revistasPresentesTri}}</td>

			
			<td>
				<tr dir-paginate="tri in trimestres | filter:busca | itemsPerPage: pageSize"
				current-page="currentPage" pagination-id="aluPagination" 
				ng-show="turma.select != null && mostraTrimestre == true && relatorio=='Trimestral'">
				<td></td>
				<td>{{tri.matriculadosTri}}</td>
				<td>{{tri.presencaTri}}</td>
				<td>{{tri.bibliasPresentesTri}}</td>
				<td>{{tri.revistasPresentesTri}}</td>


				<td>
					<a href="#aluno" class="btn btn-info btn-xs edit" role="button" data-toggle="modal"
					ng-click="edit(aluno)"><i class="glyphicon glyphicon-edit"></i> Download</a>

				</td>
			</tr>

			<tr dir-paginate="ano in anualIndividual | filter:busca | itemsPerPage: pageSize"
			current-page="currentPage" pagination-id="aluPagination" 
			ng-show="turma.select == null && mostraAnual == true && relatorio=='Anual'">
			<td></td>
			<td>{{ano.bibliaPreAnual}}</td>
			<td>{{ano.revistaPreAnual}}</td>


			<td>
				<a href="#aluno" class="btn btn-info btn-xs edit" role="button" data-toggle="modal"
				ng-click="edit(aluno)"><i class="glyphicon glyphicon-edit"></i> Download</a>

			</td>
		</tr>
	</tbody>
</table>
<dir-pagination-controls boundary-links="true"  template-url="views/dirPagination.tpl.html" pagination-id="aluPagination"></dir-pagination-controls>
</div>
</div>
</div>


