<div ng-show="sucessoTurmaDel" class="alert alert-success center-block" role="alert">
<strong> Turma excluida com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroTurmaDel" class="alert alert-danger center-block" role="alert">
<strong>Erro!</strong> Não foi possivel excluir a Turma.  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>


<div ng-show="sucessoTurmaEdit" class="alert alert-success center-block" role="alert">
<strong> Turma editada com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroTurmaEdit" class="alert alert-danger center-block" role="alert">
<strong>Erro!</strong> Não foi possivel editar a Turma. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="sucessoTurmaFechar" class="alert alert-success center-block" role="alert">
<strong> Trimestre encerrado com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroTurmaFechar" class="alert alert-danger center-block" role="alert">
<strong>Erro!</strong> Não foi possivel finalizar o Trimestre. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroTurmaAndamento" class="alert alert-danger center-block" role="alert">
<strong>Erro!</strong> Fora do periodo do fechamento de Trimestre! <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="sucessoTurmaRemoveProf" class="alert alert-success center-block" role="alert">
<strong> Professor removido da turma!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroTurmaRemoveProf" class="alert alert-danger center-block" role="alert">
<strong>Erro!</strong> Não foi possivel remover o Professor da Turma. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroTurmaProfVazia" class="alert alert-danger center-block" role="alert">
<strong>Erro!</strong> Esta turma não possui professor. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>