<div class="section" >
  <div class="container">
    <div class="row ">

      <div class="col-sm-2">
        <a href="#turma" data-toggle="modal"  role="button" ng-click="mudaBtn()" class="btn btn-primary btn-sm bt"><i class="glyphicon glyphicon-plus"></i> Criar Turma</a>
      </div>
    </div>
    <div id="turma" class="modal fade ">
      <div class="modal-dialog ">

        <div ng-show="sucessoTurmaSave" class="alert alert-success center-block" role="alert">
          <strong>Turma cadastrada com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
        </div>

        <div ng-show="erroTurmaSave" class="alert alert-danger center-block" role="alert">
          <strong>Erro!</strong> Não foi possivel cadastrar a turma. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
        </div>
        <div class="modal-content ">
          <div class="modal-header ">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="limpaForm()">&times</button>
            <h4 class="modal-title">Cadastro De Turma</h4>
          </div>
          <div class="modal-body">
            <form name="turmaForm" class="form-horizontal" ng-show="salva">

              <div class="form-group">
                <div class=" col-sm-6">
                 <label  class=" col-md-offset-2 control-label">Nome</label>
                 <input type="text" name="nome" ng-model="turma.nome" class="form-control col-md-offset-2"
                 ng-required="true" ng-minlength="5"  ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/" />


                 <div class="col-md-offset-2">
                   <span  ng-show="turmaForm.nome.$error.required && !turmaForm.nome.$pristine" class="alert-danger" > 
                    O campo nome é obrigatório.
                  </span>
                  <span  ng-show="turmaForm.nome.$error.minlength" class="alert-danger"> 
                    O campo nome deve ter no mínimo 5 caracteres.
                  </span>
                  <span  ng-show="turmaForm.nome.$error.pattern" class="alert-danger"> 
                    O campo nome deve possuir apenas letras.
                  </span>
                </div>
              </div>

            </div>

          </form>
        </div>


        <div class="table-responsive" ng-show="carregar">
          <div class="col-md-12 ">
            <table class="table table-bordered table-striped table-condensed table-hover" ng-init="tur=turma.selecionada.aluTurma">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>

                </tr>
              </thead>
              <tbody ng-repeat="tur in turma.selecionada.aluTurma">
                <tr dir-paginate="aluno in alunos | filter:busca | itemsPerPage: pageSize"
                current-page="currentPage" pagination-id="aluTurmaPagination"  ng-show="tur.objectId == aluno.objectId">
                <td>{{aluno.nome}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <dir-pagination-controls boundary-links="true"  template-url="views/dirPagination.tpl.html" pagination-id="aluTurmaPagination"></dir-pagination-controls>

      <div class="table-responsive" ng-show="mostraRevista">
        <div class="col-md-12 ">
          <table class="table table-bordered table-striped table-condensed table-hover" n>
            <thead>
              <tr>
                <th>Código</th>
                <th>Categoria</th>
                <th>Tema</th>


              </tr>
            </thead>
            <tbody ng-repeat="tu in turma.selecionada.turmaTrimestre">
              <tr dir-paginate="trimestre in trimestres | filter:busca | itemsPerPage: pageSize"
              current-page="currentPage" pagination-id="RevistaTurmaPagination"  ng-show="tu.objectId == trimestre.objectId">
              <td></td>

              <td>{{trimestre.triRev.categoria}}</td>
              <td>{{trimestre.triRev.tema}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <dir-pagination-controls boundary-links="true"  template-url="views/dirPagination.tpl.html" pagination-id="RevistaTurmaPagination"></dir-pagination-controls>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true"  ng-click="limpaForm()">Cancelar</button>

      <button type="button" class="btn btn-primary"  ng-show="salva" ng-click="saveTurma(turma)" ng-disabled="turmaForm.$invalid">Salvar</button>
      <button type="button" class="btn btn-primary"  ng-show="carregar || mostraRevista" data-dismiss="modal" aria-hidden="true">ok</button>

    </div>
  </div>
</div>
</div>
</div>
</div>
