<div class="section" >
  <div class="container">
    <div class="row ">
     <div class="col-sm-2 ">
       <a href="#modalRevista" data-toggle="modal"  role="button"  class="btn btn-primary btn-sm bte"><i class="glyphicon glyphicon-plus"></i> Inserir Revista Em Turma</a>
     </div>
   </div>
   <div id="modalRevista" class="modal fade ">
    <div class="modal-dialog modal-lg">
      <div ng-show="sucessoTurmaRev" class="alert alert-success center-block" role="alert">
        <strong>Cadastro de Revista efetuado com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
      </div>

      <div ng-show="erroTurmaRev" class="alert alert-danger center-block" role="alert">
        <strong>Erro!</strong> Não foi possivel cadastrar a Revista. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
      </div>
      <div class="modal-content ">
        <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          ng-click="limpaForm();encaminhar()">&times</button>
          <h4 class="modal-title">Cadastro De Revista</h4>
        </div>
        <div class="modal-body">
          <form name="revistaForm" class="form-horizontal">

            <div class="form-group">
              <div class="col-sm-4">
                <label  class="col-sm-5 control-label">Turmas</label>

                <select class="selectpicker form-control col-md-offset-2" ng-model="turma.select" ng-options="turma.nome for turma in turmas" >
                  <option value="">Selecione uma turma</option>

                </select>
              </div>
            </div>
            <div class="form-group">
             <div class=" col-sm-4">
               <label  class=" col-md-offset-2 control-label"  >Nome</label>
               <input type="text"  ng-model="revista.nome" name="nome" ng-required="true" class="form-control col-md-offset-2" />

               <div class="col-md-offset-2">
                 <span  ng-show="revistaForm.nome.$error.required && !revistaForm.nome.$pristine" class="alert-danger" > 
                  O campo nome é obrigatório.
                </span>
              </div>
            </div>

          </div>
          <div class="form-group">
           <div class=" col-sm-4">
             <label  class=" col-md-offset-2 control-label">Categoria</label>
             <input type="text"  ng-model="revista.categoria" ng-required="true" name="ctg" class="form-control col-md-offset-2" />

             <div class="col-md-offset-2">
               <span  ng-show="revistaForm.ctg.$error.required && !revistaForm.ctg.$pristine" class="alert-danger" > 
                 O campo categoria é obrigatório.
               </span>
             </div>
           </div>

         </div>
         <div class="form-group">
           <div class=" col-sm-4">
             <label  class=" col-md-offset-2 control-label">Tema</label>
             <input type="text"  ng-model="revista.tema" ng-required="true" name="tm" class="form-control col-md-offset-2" />
             <div class="col-md-offset-2">
               <span  ng-show="revistaForm.tm.$error.required && !revistaForm.tm.$pristine" class="alert-danger" > 
                 O campo tema é obrigatório.
               </span>
             </div>
           </div>

         </div>



       </form>
     </div>


     <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true"  ng-click="limpaForm();encaminhar()">Cancelar</button>


      <button type="button" class="btn btn-primary" ng-disabled="revistaForm.$invalid"  ng-click="saveRevista(turma)">Salvar</button>

    </div>
  </div>
</div>
</div>
</div>
</div>
