<div ng-show="sucessoUserSave" class="alert alert-success center-block" role="alert">
	<strong> Usuário cadastrado!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroUserSave" class="alert alert-danger center-block " role="alert">
	<strong>Erro!</strong> Não foi possivel cadastrar Usuário. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>




<div ng-show="erroUserLogado" class="alert alert-danger center-block " role="alert">
	<strong>Erro!</strong> Não foi possivel realizar o Login. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>


<div ng-show="erroUserLogadoTrue" class="alert alert-danger center-block " role="alert">
	<strong>Erro!</strong> Já existe um usuário logado neste computador! <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="sucessoUserEdit" class="alert alert-success center-block" role="alert">
	<strong> Editado com sucesso!</strong>  <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>

<div ng-show="erroUserEdit" class="alert alert-danger center-block " role="alert">
	<strong>Erro!</strong> Não foi possivel editar os dados Usuário. <button type="button" class="close" data-dismiss="alert" aria-label="close">&times</button>
</div>
